
<div *ngIf="exercise">
   
    <div>
        Name:
        <input [(ngModel)]="exercise.name" placeholder="Name" />
    </div>
    <div>
       Training:
      
      
        <ng-select [items]="trainings" bindLabel="name" bindValue="id" placeholder="Name" [(ngModel)]="exercise.trainingid">
           
          </ng-select>
 
         
    </div>
    <div>
        BodyPart:
        <input [(ngModel)]="exercise.bodyPart" placeholder="BodyPart" />
    </div>
    <div>
        Reps:
        <input [(ngModel)]="exercise.reps" placeholder="Reps" />
    </div>
    <div>
        Series:
        <input [(ngModel)]="exercise.series" placeholder="Series" />
    </div>
    <div style="display: flex;
    justify-content: center; margin-top: 20px;"><a routerLink="/exercises" (click)="createExercise(exercise)" class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">add</i></a>
   
</div>

