
<table>
    <thead>
      <th>BodyPart</th><th>Name</th><th>series</th><th>reps</th>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises">
      
      <td>{{exercise.bodyPart}}</td>
      <td>{{exercise.name}}</td>
      <td>{{exercise.series}}</td>
      <td>{{exercise.reps}}</td>
     
      <td><a routerLink="../" (click)="deleteExercise(exercise)" class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">delete</i></a></td>
    </tr>
    </tbody>
    </table>
 