

<table>
    
    <tbody *ngFor="let training of trainings">
    <tr>
    
     <td><h4>{{training.name}}</h4></td>  
    
    <td> <a style="justify-content: center;" class="btn-floating btn-large waves-effect waves-light blue" (click)="toggleContent(training)"><i class="material-icons">list</i></a></td>
    </tr>
  <div *ngIf="training.display">
    
    <tr *ngFor="let exercise of exercises"> 
     
      <div *ngIf="training.id==exercise.trainingid">
      
        <tr>
          <td>
            {{exercise.bodyPart}}
            
          </td>
          <td>
            {{exercise.name}}
          </td>
          <td>
            {{exercise.reps}}
          </td>
          <td>
            {{exercise.series}}
          </td>
        </tr>
      </div> 
    </tr>
  </div>
    </tbody>
    </table>
   
    <div style="display: flex;
    justify-content: center; margin-top: 90px; "><a  routerLink="trainingsedit" class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">edit</i></a></div>
