




<table class="highlight">
    <thead>
     <th>BodyPart</th><th>Name</th><th>series</th><th>reps</th>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises">
    
      <td>{{exercise.bodyPart}}</td>
      <td>{{exercise.name}}</td>
      <td>{{exercise.series}}</td>
      <td>{{exercise.reps}}</td>
   
    </tr>
    </tbody>
    </table>
   <div style="display: flex;
   justify-content: center; margin-top: 90px; "><a  routerLink="exercisesedit" class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons">edit</i></a></div>
    