
<div>
<div style="display: flex;
padding: 40px;

justify-content: center;">

<a routerLink="exercises"  ><img src="./assets/dumpbell.png" img style=" border-radius: 25px;" ></a>

</div> 
<div style="display: flex;
padding: 40px;
justify-content: center;">

<a routerLink="exercises" ><img img style=" border-radius: 25px;" src="./assets/note.png" ></a>

</div> 

<div style="display: flex;
padding: 40px;
justify-content: center;">
<h1></h1>
<a routerLink="exercises"><img style=" border-radius: 25px;" src="./assets/food.png"></a>

</div> 
</div>
